<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samsung.health.hrdatatransfer">

    <!-- Allows the app to run while the screen is off for continuous tracking -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- General sensor permission for older Android versions -->
    <uses-permission android:name="android.permission.BODY_SENSORS" />

    <!-- Granular permission for Heart Rate on Android 16+ -->
    <uses-permission android:name="android.permission.health.READ_HEART_RATE" />

    <!-- Granular permission for Skin Temperature on Android 16+ -->
    <uses-permission android:name="android.permission.health.READ_SKIN_TEMPERATURE" />

    <!-- Required for Accelerometer data -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <!-- Special Samsung permission for raw data like EDA and PPG -->
    <uses-permission android:name="com.samsung.android.hardware.sensormanager.permission.READ_ADDITIONAL_HEALTH_DATA"/>

    <!-- Declares that this app is for a watch -->
    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:name=".TheApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">

        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <!-- Set to true to indicate a standalone watch app -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".presentation.MainActivity"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@android:style/Theme.DeviceDefault">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>

